## Inteligencia Artificial
- Fundamentos
    - 1959 Arthur Samuel Informatico Pionero "El Estudio que da a los ordenadores la capacidad de aprender sin ser programador explicitamente"
    - En el articulko de Alan Touring (1950)
# Machine Learning (Aprendizage Automatico)
 - Es un rama de la IA que estudia como dotar a las maquinas de capacidad de aprendizage de manera autonoma
 - Como Aprende las Maquinas ?
      - **Modelo** .- Es un conjunto de informacion que ayuda a la maquina a poder a prender y tomar sus propias decisiones
      - **Algoritmo de Aprendizaje**.- Modulo de Python (Red Neuronal (Tensorflow))
      - **Entrenar al Modelo**.-El Modelo tome sus propias decisiones
      - **Ajustar Necesarios**.-Modificar las posibles fallas que tuviera el modelo.

## Tipos de Machine Learning
   - **Supervizado** .- El Aprendizaje Supervisado utilizaremos informacion (Dataset) de entrenamiento.Entrenamos a nuestro modelo con miles de datos y le decimos como clasificarlos por medio de etiquetas
   !["Supervizado"](supervizado.png)
   - **No Supervizado** .- Utilizaremos informacion (Dataset) de entrenamiento. a diferencia de aprendizaje supervizado no tendra etiquetas el modelo debera aprender con objetivos y abstraer los patrones de la informacion directamente como separarlos por grupos a este problema se le llama **clustering.**
   vision de computadora segmentacion semantica etiquetar cada pixel como "carretera" "peaton" ,"edificio","se√±al trafico"
   !["NoSupervizado"](no_supervizado.png)
   - **Esfuerzo** .- Modelos aprenden a partir de la experiencia .Cuando toma una mala decision se le "castiga" . A partir de sus propios premios y castigos va aprendiendo a realizar mejor su tarea.
   !["Esfuerzo"](refuerzo.png)

## Regresion Lineal
- Es Un metodo estadistico que se utiliza para modelar entre una variable dependiente (o una respuesta) y una o mas variables independientes(o predictores) mediante una ecuacion lineal.
- y = mx + b
  - Donde y : Variable dependiente
  - Donde x : Variable independiente
  - Donde m : Es la pediente de la linea 
  - Donde b : Es la insercion en el eje.
- Ejemplo : Queremos predecir la puntuacion de un estudiante  (Y) en un examen basandose en el numero de horas que estudio (X)
- Es construir una ecuacion matematica que defina los valores de X e Y y poder hacer predicciones con ambos datos
 !["Regresion Lineal"](rlineal.jpg)

In [8]:
#Crear una MODELO de RL que me permita predeccir cuanto obtendra un estudiante 
#de acuerdo a las horas de estudo teniendo como datos de ejemplo obtenidos 
#anteriormente
horas_estudio=[1,2,3,4,5] # Valor de X
puntuacion_de_examen=[60,70,75,85,95] #Valor de Y
#Calcular la regresion lineal manualmente
promedio_horas=sum(horas_estudio)/len(horas_estudio)

promedio_puntuacion=sum(puntuacion_de_examen)/len(puntuacion_de_examen)
m=sum((xi - promedio_horas) * (yi- promedio_puntuacion)for xi,yi, in zip(horas_estudio,
puntuacion_de_examen))/sum((xi-promedio_horas)**2 for xi in horas_estudio)
b=promedio_puntuacion - m * promedio_horas

#predicciones
horas_nuevas=10
prediccion=m*horas_nuevas + b
prediccion

136.5

## Pandas
- Es una biblioteca de programacion en Python que proporciona estructura de datos de alto rendimiento es untilizado como una herramienta de analisis de datos
- Contiene una estructura clave llamada DataFrames

In [10]:
import pandas as pd

In [11]:
#Crear un DataFrame de manera Manual
data = {'Nombre':['Juan','Maria','Armando'],
        'Edad':[25,34,56],
        'Ciudad':['Bogota','California','Lima']
}
df = pd.DataFrame(data)
df

    Nombre  Edad      Ciudad
0     Juan    25      Bogota
1    Maria    34  California
2  Armando    56        Lima

In [12]:
#Crear un Dataframe en base a un CSV
df_clientes=pd.read_csv('customers.csv')
#df_clientes_json=pd.read_json()
#df_clientes_sql=pd.read_sql()
#df_excel=pd.reas_excel()
df_clientes

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [13]:
df_clientes.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [14]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              100 non-null    int64
 1   Customer Id        100 non-null    object
 2   First Name         100 non-null    object
 3   Last Name          100 non-null    object
 4   Company            100 non-null    object
 5   City               100 non-null    object
 6   Country            100 non-null    object
 7   Phone 1            100 non-null    object
 8   Phone 2            100 non-null    object
 9   Email              100 non-null    object
 10  Subscription Date  100 non-null    object
 11  Website            100 non-null    object
dtypes: int64(1), object(11)
memory usage: 9.5+ KB

In [15]:
df_clientes.describe()

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [31]:
#Mostrar por campos en comun
df_clientes_filtro=df_clientes[['Customer Id','First Name','Last Name','Email','Country']]
#Mostrar las filas por su indice
df_clientes_filtro.loc[[9,12,56,60,99]]
#Mostrar los primeros 30 registros
df_clientes_filtro.head(30)
#Filtra por un determinado Pais
df_clientes_filtro.loc[df_clientes_filtro['Country']=='Zimbabwe'].head()

                Country  Cantidad_Clientes
0               Albania                  1
1               Algeria                  1
2              Anguilla                  1
3   Antigua and Barbuda                  1
4                 Aruba                  1
..                  ...                ...
80           Uzbekistan                  1
81              Vietnam                  1
82       Western Sahara                  1
83                Yemen                  1
84             Zimbabwe                  2

[85 rows x 2 columns]

In [32]:
#Crear una lista que usara el filtro para la columna paises
paises_filtrar=['Zimbabwe','Canada','Chile','United States of America']
#Utilizar la lista
df_filtrado=df_clientes[df_clientes['Country'].isin(paises_filtrar)]
#Agrupando por los paises seleccioandos
df_filtrado.groupby('Country').size().reset_index(name='Cantidad_Clientes')

                    Country  Cantidad_Clientes
0                    Canada                  2
1                     Chile                  1
2  United States of America                  1
3                  Zimbabwe                  2

In [28]:
df_clientes['Country'].unique()

array(['Chile', 'Djibouti', 'Antigua and Barbuda', 'Dominican Republic',
       'Slovakia (Slovak Republic)', 'Bosnia and Herzegovina',
       'Pitcairn Islands', 'Bulgaria', 'Cyprus', 'Timor-Leste',
       'Guernsey', 'Vietnam', 'Togo', 'Sri Lanka', 'Singapore', 'Oman',
       'Western Sahara', 'Mozambique',
       'South Georgia and the South Sandwich Islands', 'French Polynesia',
       'Malta', 'Netherlands', 'Paraguay',
       "Lao People's Democratic Republic", 'Albania', 'Panama', 'Belarus',
       'Switzerland', 'Saint Vincent and the Grenadines', 'Tanzania',
       'Zimbabwe', 'Denmark', 'Liechtenstein', 'United States of America',
       'Bahamas', 'Belize', 'Uruguay', 'Solomon Islands', 'Montenegro',
       'Poland', 'Burkina Faso', 'Bolivia', 'Monaco', 'Palau',
       'Uzbekistan', 'Ghana', 'United Arab Emirates', 'Canada', 'Algeria',
       'Swaziland', 'Madagascar', 'Ecuador', 'Palestinian Territory',
       'Saint Barthelemy', 'Sao Tome and Principe', 'Portugal',
       'Ethiopia', 'Liberia', 'Lithuania', 'New Caledonia', 'Kiribati',
       'French Southern Territories', 'Iran', 'Morocco',
       'Russian Federation', 'United States Virgin Islands',
       'Kyrgyz Republic', 'Myanmar', 'Dominica', 'Iceland', 'Micronesia',
       'Isle of Man', 'Fiji', 'New Zealand', 'Maldives', 'Benin', 'Yemen',
       'Namibia', 'Bhutan', 'Hungary', 'Anguilla', 'Mali', 'Guyana',
       'Aruba', 'Honduras'], dtype=object)

## Algoritmos de Inteligencia Artificial
- **Regresion Lineal** .- Se utiliza para predecir una variable continua en funcion a una o mas variables independientes.
    - Ejemplo : Predecir el precio de una casa en funcion a su tama√±o y numero de habitaciones.
    - Bibliotecas de Python: scikit-learn('sklearn')
- **Regresion Logistica** .- Se utiliza para problemas de clasificacion binaria 
    - Ejemplo : Como predecir si un correo electronico es spam o no.
    - Biblioteca de Python: from sklearn.linear_model import LogisticRegression
- **Arbol de Desiciones** .- Se puede utilizar para predecir una variable objetivo tomando decisiones basadas en preguntas.
    - Ejemplo : Si una persona es propensa a comprar en un sitio web de acuerdo a su edad ingresos y caracteristicas
    - Biblioteca de Python: from sklearn.tree import DecisionTreeClassifier 
- **Random Forest**.- Un Conjunto de arboles de decision que combina multiples modelos para mejorar la precision y reducir el sobreajuste.
    - Ejemplo : Deteccion de Fraudes de Tarjetas
    - Biblioteca de Python: from sklearn.ensemble import RandomForestClassifier
- **K Vecinos mas cercanos(KNN)** .-Un Algortimo de clasificacion que asigna una etiqueta a un punto de datos basandose en las etiquetas de puntos de datos vecionos.     
    - Ejemplo: Clasificar un nuevo punto de datos basandose en las clase
    - Biblioteca de Python: from sklearn.neighbors import KNeighborsClassifier
- **Redes Neuronales Convolucionales(CNN)**.-Especialmente dise√±adas para el procesamiento de imagenes.
    - Ejemplo : Reconocimeinto Facial,clasificacion de imagenes,diagnostico medico a partir de imagenes de resonancia magnetica
     - Bibliotecas de Python: TensorFlow,Keras,PyTorch
     - Keras from keras.models import Sequential
- **Redes Neuronales Recurrentes (RNN)** .- Dise√±adas para trabajar con datos secuenciales como series temporales o texto.
    - Ejemplo : Traduccion automatica,generacion de texto,analisis de sentimientos en redes sociales
    - Bibliotecas de Python: TensorFlow,Keras,PyTorch
    - import torch.nn as nn